<h4>Recommendation</h4>
<%= link_to "Add another recommendation", new_recommendation_path %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Link</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @recs.rec_type %></td>
        <td><%= @recs.link %></td>
        <td> <%= @recs.rec_description %> </td>
        </tr>

  </tbody>
</table>



