<h4>Welcome!</h4>
<p>This is the default page after a user logs in prompting them to answer questions
or to add a recommendation.
</p> </br>

<%= link_to "Click to add a recommendation", new_recommendation_path %>
